body {
  font-style: normal;
  font-weight: 400;
  font-family: monospace;
  font-size: 16px;
  background-color: rgba(0,0,0,.9);

}

#container {
  margin: 0px;
}

h2 {
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 5px;
  background: #41B557;
}
.sourcelist { height: 100%; }
.row {
  display: flex;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  background-color: #262626;
  color: #ccc;
}

.row img {
  width: 24px;
  line-height: 40px;
  vertical-align: middle;
  padding-top: 7px;
  padding-right: 5px;
}

.row .share-button {
  display: none;
}

.row:hover .share-button {
  display: block;
}

.row .buttons {
  min-width: 100px;
  text-align: right;
}

.row .content {
  width: 100%;
  padding: 5px;
}

.date {
  color: #888;
}

#footer {
  position: fixed;
  background-color: #f4f5f6;
  bottom: 0px;
  width: 100%;
  text-align: right;
}

.indicator {
  width: 30px;
  margin: 5px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.indicator.active {
  background-image: url('../images/dat-data-pause.png');
}
.indicator.inactive {
  background-image: url('../images/dat-hex-small-brown.png');
}
.indicator.inactive:hover {
  background-image: url('../images/dat-data-play.png');
}

button {
  cursor: pointer;
}
