<div class="header">
  <h2>Recent data</h2>
</div>
{{#each dats:i}}
<div class="row" on-click="open:{{i}}">
  <div class="left">
    {{#if this.active}}
    <div class="indicator active" on-click="toggle:{{i}}"></div>
    {{else}}
    <div class="indicator inactive" on-click="toggle:{{i}}"></div>
    {{/if}}
  </div>
  <div class="content">
    <span class="path">{{this.name}}</span>
    <div class="date">{{relativeDate(this.updated)}}</div>
  </div>
  <div class="buttons">
    <button class="push share-button" on-click="share:{{i}}">share</button>
  </div>
</div>
{{/each}}
