<!--
<div class="header">
  <h2>dat</h2>
</div>
-->
<div id="notification" class="{{notify.type}}">
  <h1 class="message">{{notify.message}}</h1>
</div>
<div id="content">
  <div class="sourcelist">
    {{#each dats}}
    <div class="toolbar row" on-click="open:{{value.location}}" on-contextmenu="actions:{{key}}">
      <div class="left">
        {{#if value.state === 'active'}}
        <div class="indicator active"></div>
        {{/if}}
        {{#if value.state === 'loading'}}
        <div class="indicator"><img src="{{IMG_PATH}}/spinner.gif" /></div>
        {{/if}}
        {{#if value.state === 'inactive'}}
        <div class="indicator inactive"></div>
        {{/if}}
      </div>
      <div class="content">
        <span class="name">{{value.location}}</span>
      </div>
      <div class="buttons">
        {{#if value.state !== 'loading'}}
          <button class="button" on-click="start:{{key}}">
            Share
          </button>
          <button class="button" on-click="delete:{{key}}">
            X
          </button>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div id="download">
  <div class="input-box">
    <input type="text" value="{{link}}" placeholder="Paste link here..." />
    <button type="submit" on-click="download">Download</button>
  </div>
</div>
<div class="footer bookend">
    <img class="settings clickable" src="{{IMG_PATH}}/settings.png" on-click="settings" />
    <!--<div on-click="download" class="add-button clickable"><h2>Add URL</h2></div>-->
    <div on-click="add" class="add-button clickable"><h2>+</h2></div>
</div>
